@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<Blazorise.Button Color="Blazorise.Color.Primary" @onclick="IncrementCount">Click me</Blazorise.Button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
